.gitignore
/venv
/Manga109
.ipynb_checkpoints
models
logs
/bounder_YOLO/Manga109_YOLO
/Research
.idea
.gitignore
/panel_bounder_custom/runs
/panel_bounder_custom/logs
/panel_bounder_custom/models
/bounder_YOLO/runs/detect/train/val_batch0_labels.jpg
/bounder_YOLO/runs/detect/train/val_batch0_pred.jpg
/bounder_YOLO/runs/detect/train/val_batch1_labels.jpg
/bounder_YOLO/runs/detect/train/val_batch1_pred.jpg
/bounder_YOLO/runs/detect/train/val_batch2_labels.jpg
/bounder_YOLO/runs/detect/train/val_batch2_pred.jpg
/Manga109_Details/data_mining.pbix
/MangaVision_API/MangaVision_dataset_sample